# Zeitzone
TZ=Europe/Berlin

# Speicherort aller persistenten Daten
DATA_PATH=/opt/headscale-data

# Öffentliche Domain
HEADSCALE_DOMAIN=headscale.example.com

# MagicDNS Domain
BASE_DOMAIN=internal.example.com